# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Introducing arithmetic expression examples
- Convert minutes to hours
- List the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scikit

| Data Science Tools |
|-----------------|
|Apache Spark|
|Hadoop|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
print(f'{200/60} hours')

3.3333333333333335 hours

## Author
SALAH